table {
}
th {
  width: 200px;
  height: 200px;
  font-size: 80px;
  background-color: rgb(116, 171, 235);
}

table{
  border-collapse: collapse;
  border: 20px solid white;

}

th,
td {
  border: 3px solid rgb(18, 57, 102);
  border-collapse: collapse;
}

p {
  font-size: 40px;
}

#rotate {
}